---
layout: default
---

<div class="home">
<center><div style="position:absolute; top:45%; left:50%; margin-left:-102px">let the laughs begin....</div></center>
{% assign post = site.posts.first %}
<a href="{{ post.url | prepend: site.baseurl }}" class="post-link">Post</a>
  <!--<div class="posts">-->
  <!--  {% for post in paginator.posts %}-->
  <!--    <div class="post py3">-->
  <!--      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>-->
  <!--      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>-->
  <!--      <p class="post-summary">-->
  <!--        {% if post.summary %}-->
  <!--          {{ post.summary }}-->
  <!--        {% else %}-->
  <!--          {{ post.excerpt }}-->
  <!--        {% endif %}-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  {% endfor %}-->
  <!--</div>-->

  <!--{% include pagination.html %}-->
</div>
